.secao__formulario-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--sombra);
    box-sizing: border-box;
    margin-bottom: 1rem;
    max-width: 45rem;
    padding: 1.75rem;
    width: 100%;
}