body {
    background-image: url('../../imagens/contato.jpg');
    background-size: cover;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

.secao__formulario {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding-left: 1rem;
    padding-right: 1rem;
}